.container {
    background-color: #ffffff;
    border-radius: 10px;

    box-shadow: 0 0 10px #ff9500;
    padding: 20px;
    transition: all 0.2s ease;
  }

  .container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .labels {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: max-content;
    min-width: 20vw;
    text-align: center;
  }
  
  .card {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 10px;

    box-shadow: 0 0 10px #ff9500;
    padding: 20px;
    transition: all 0.2s ease;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #ff9500;
    border-color: #ff9500;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .card,
    .footer {
      border-color: #000000;
    }
    .code {
      background: #ffffff;
    }
    .logo img {
      filter: invert(1);
    }
  } 
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  