.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #00ffff, #ff00ff);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom right, #00ffff, #F38181);
  transition: transform 0.2s ease-in-out;
  color: #fff;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
