.container {
    background-color: #13ffff22;
    width: 100%;
    z-index: 500;
    padding: 0 2rem;
    padding: 1.5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    justify-content: center;
    font-size: 1.5vh;
    display: grid;
    grid-template-columns: 1fr;
    filter: drop-shadow(0px 4px 4px #53bbfc);
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow-y: scroll; 
}

.container::-webkit-scrollbar {
    display: none; 
}

.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }

.search {
    border-radius: 4%;
        height: 3vh;
        margin: auto;
        width: 100%;
        top: 50%;
    width: 50%;
    text-align: center;
    background: linear-gradient(to bottom right, #00ffff, #ff00ff);
    color: #ffffff;
    border-radius: 7px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border: none;
}

.search:hover {
    height: 4vh;
    width: 60%;
    font-size: 1.5vh;
    background: linear-gradient(to top left, #00ffff, #ff00ff);
}

.searchContainer {
    height: 3vh;
    margin: auto;
    width: 100%;
    top: 50%;
    width: 50%;
    text-align: center;
    border-radius: 10px;

}

.search {
    font-size: 1.3vh;
}

@media (max-width: 620px) {
    .search {
        font-size: 0.9vh;
    }
  }

.loginHeader {
    margin-top: 13vh;
    margin-bottom: 7vh;
    text-align: center;
}


.loginContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    margin: auto;
}

.loginLabels {
    display: grid;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.loginForm {
    width: 100%;
    margin: auto;
    margin-bottom: 9vh;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px #FC7753);
    text-align: center;
    border-radius: 3vw;
}

.loginSubmit {
    display: inline-block;
    margin-top: 4vh;
    width: 100%;
    background-color: rgba(206, 101, 15, 0.15);
    color: #fff;
    font-size: 2.5vh;
    border-radius: 0.5vw;
    padding: 3vh;
    cursor: pointer;
    box-sizing: border-box;
}



.signUpContainer {
    display: grid;
    width: 50%;
    margin: auto;
    text-align: center;
}

.signUpForm {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 70%;
    margin-bottom: 9vh;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px #FC7753);
    text-align: center;
    border-radius: 3vw;
}

.SignUpUsername {
    width: 30vw;
}

.signUpLabels {
    padding-top: 2vh;
}

.searchWrapper {
    margin: auto;
    top: 50%;
}

.SignUpSubmit {
    display: inline-block;
    margin-top: 4vh;
    width: 100%;
    background-color: rgba(206, 101, 15, 0.15);
    color: #fff;
    font-size: 2.5vh;
    border-radius: 0.5vw;
    padding: 3vh;
    cursor: pointer;
    box-sizing: border-box;
}


.profileIcon {
    filter: drop-shadow(0px 4px 4px #FC7753);
}
.profileIconUrl {
    filter: drop-shadow(0px 4px 4px #FC7753);
    border-radius: 50%;
    height: 3.3vh;
    width: 3.3vh;
    overflow: hidden;
}
.LogoIcon {
    position: relative;
    width: 4vh;
    height: 4vh;
    left: 6vw;
    filter: drop-shadow(0px 4px 4px #FC7753);
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.LogoIcon:hover {
    filter: drop-shadow(0px 4px 4px #ffffff);
}
.navContainer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 5fr 1fr;
    height: 3.3vh;
}


/* .profileDropDown {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #fff;
    border-radius: 1.1vw;
    padding: 10px 20px;
    width: min-content;
} */
.profileDropDown {
    z-index: 99;
    position: absolute;
    /* top: 3.3vh; */
    height: max-content;
    width: max-content;
    right: 7vw;
    border-bottom-left-radius: 1.1vh;
    border-bottom-right-radius: 1.1vh;
    background: rgba(83, 252, 224, 0.566);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.47 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.dropDownText {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vh;
    cursor: pointer;
}