.container {
    background: linear-gradient(to bottom right, #00ffff, #ff00ff);
    text-align: center;
    padding: 3vh;
    height: 100%;
}

.main{
    min-height: 90vh;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    border: black;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
  }